/* Header Styles */
.section-header-2 .menu-icon::after {
    width: 0px !important;
}

.btn-primary {
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: var(--bs-primary) !important;
    --bs-btn-color: #2d336b !important;
    --bs-btn-hover-bg: transparent !important;
    --bs-btn-active-bg: transparent !important;
    --bs-btn-hover-color: var(--bs-primary) !important;
    --bs-btn-active-color: var(--bs-primary) !important;
    --bs-btn-hover-border-color: var(--bs-primary) !important;
    --bs-btn-active-border-color: var(--bs-primary) !important;
    border: 1px solid var(--bs-primary) !important;
}

.section-header {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 99 !important;
    animation: fadeInDown 0.7s ease-in-out 0s 1 normal none running !important;
    transition: all 0.3s ease 0s !important;
    background-color: var(--bs-sticky-header-bg) !important;
    backdrop-filter: blur(10px) !important;
}
.section-header.sticky {
    position: fixed !important;
    z-index: 99 !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    animation: fadeInDown 0.7s ease-in-out 0s 1 normal none running !important;
    transition: all 0.3s ease 0s !important;
    background-color: var(--bs-sticky-header-bg) !important;
    backdrop-filter: blur(10px) !important;
}

.dropdown-menu {
    background-color: #7886C7; 
    border: none; 
    border-radius: 10px 10px 0px 0px !important;
    margin-left: 20px !important;
}

.dropdown.submenu .dropdown-menu.show {
    left: 88% !important;
}

.dropdown-item {
    color: #fff; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 10px 0px 0px 0px !important;
}

.dropdown .dropdown-menu.show {
    backdrop-filter: blur(10px);
    --bs-dropdown-bg: var(--bs-sticky-header-bg);
    --bs-dropdown-border-width: 0;
    --bs-dropdown-color: var(--bs-white);
    --bs-dropdown-link-color: var(--bs-white);
    --bs-dropdown-link-hover-color: var(--bs-white);
    --bs-dropdown-link-active-color: var(--bs-white);
    --bs-dropdown-link-hover-bg: #2d336b;
    --bs-dropdown-link-active-bg: #2d336b;
    --bs-dropdown-item-border-radius: 0;
    --bs-dropdown-item-separator-color: var(--bs-dropdown-link-color);
    animation: fadeInUp 0.4s ease;
    transform-origin: top center;
    --bs-dropdown-min-width: 200px;
    --bs-dropdown-item-padding-x: 0px;
    --bs-dropdown-item-padding-y: 10px;
    --bs-dropdown-bg: #7886C7;
    border-radius: 0;
    top: 100px;
    left: -19px;
    --bs-dropdown-padding-y: 0;
    padding: 15px 0px 15px 15px !important;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25);
}

.dropdown-item:hover {
    background-color: #2d336b;
    color: #fff; 
}

.logo-responsive {
    height: 90px;
}

@media (max-width: 1200px) {
    .logo-responsive {
        height: 70px !important;
    }
}

@media (max-width: 768px) {
    .logo-responsive {
        height: 50px !important;
    }
}

@media (max-width: 576px) {
    .d-flex.align-items-center {
        justify-content: flex-start !important;
        gap: 5px !important;
    }
    .navbar-brand {
        margin-right: auto !important;
    }
    .btn-primary {
        margin-top: 0 !important;
    }
} 